<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>Total Users: <%=userCount %></h2>
    <button><a href="/users/new">Join Us Now!</a></button>
    <button><a href="/users">Show All Users</a></button>
</body>
</html>