<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form action="/users" method="post">
        Username: <input type="text" name="username" placeholder="Enter your username"/>
        Email: <input type="email" name="email" placeholder="Enter your emailId"/>
        Password: <input type="password" name="password" placeholder="Enter your Password">
        <button>Add User</button>
    </form>
</body>
</html>